<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is only to learn deeper about node.js with express, API, and JSON. So it is simple</p>
            <br>
            <p>Weather app uses data API from mapbox.com and darksky.net and uses HTTP AJAX request from the browser</p>
            
        </div>
        {{>footer}}
    </body>
</html>