<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site just to learn deep about node.js. Weather app uses data from mapbox.com and darksky.net</p>
            <img class="azai" src="/img/azai.png">
        </div>
        {{>footer}}
    </body>
</html>